<style>
    text_area {
    resize: both;
    width: 35%;
    height: 20rem;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #000;
    border: 1px solid transparent;
    }

    body {
    background-color:lightgray;
    }
</style>

<center>
  <br>
  <h1>Log In</h1>
  <br>
  <div class="card text-white bg-secondary mb-3" style="max-width: 36rem;">
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <br>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <br>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %>
    </div>
  </div>

  <%= render "devise/shared/links" %>
</center>
