<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>My Portfolio</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="collapse bg-dark" id="navbarToggleExternalContent">
      <div class="d-none d-md-block container-fluid">
          <div class="row">
              <div class="col-2 col-sm-2 col-md-2"></div>
              <div class="col-4 col-sm-4 col-md-4" style="line-height: 1em;">
                  <br><br>
                  <h4 class="text-white">About</h4>
                  <p.not() class="text-white" style="font-size:14px;"> My name is Brodie, and I'm a UCCS Student pursuing a degree in computer science with 7+ years of 
                  soccer referee experience (outdoors and indoors) and a comprehensive skillset in coding that I’ve been actively growing since the start of high school. 
                  I also held a position as a camp counselor for one summer – and I enjoy hiking, mountain biking, rock climbing, and playing soccer in my free time.
                  </p>
              </div>
              <div class="col-2 col-sm-2 col-md-2"></div>
              <div class="col-4 col-sm-4 col-md-4">
                  <br>
                  <h4 class="text-white">Contact</h4>
                  <ul class="list-unstyled">
                      <li><a href="https://github.com/BCrawf11" class="text-white">Check out my Github</a></li>
                      <li class="text-white">Email: brodiecrawford11@gmail.com</li>
                      <li class="text-white">Discord: Brodie#7033</li>
                  </ul>
              </div>
          </div>
      </div>
      </div>

      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Brodie's Portfolio Site</a>
        
        <div class="collapse navbar-collapse" id="navbarsDefault">
          <ul class="navbar-nav mr-auto">

            <% if user_signed_in? %>
              <li class="nav-item active">
                <a class="nav-link" href="/" style="font-size:18px;">Home</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/projects/new" style="font-size:18px;">New Project</a>
              </li>
              <li class="nav-item navbar-nav">
                <a class="nav-link" style="color:white" >|&nbsp&nbsp&nbsp&nbspLogged in as <strong><%= current_user.email %>.</strong></a>
              </li>
              <li class="nav-item navbar-nav">
                <a class="nav-link" style="color:green;" id="notice"><b><%= notice %></b></a>
              </li>

            <% else %>
              <li class="nav-item active">
                <a class="nav-link" href="/" style="font-size:18px;">Home</a>
              </li>
              <li class="nav-item" style="font-size:18px;">
                <a class="nav-link" href="/users/sign_in">Sign In</a>
              </li>
              <li class="nav-item" style="font-size:18px;">
                <a class="nav-link" href="/users/sign_up">Sign Up</a>
              </li>
              <li class="nav-item navbar-nav">
                <a class="nav-link">|&nbsp</a>
              </li>
              <li class="nav-item navbar-nav">
                <a class="nav-link" style="color:green;" id="notice"><b><%= notice %></b></a>
              </li>

            <% end %>
          </ul>
          
          <div class="navbar navbar-dark bg-dark box-shadow">
              <div class="d-flex justify-content-between">
                  <button class="d-none d-md-block navbar-toggler" href="#collapse1" type="button"
                      data-target="#navbarToggleExternalContent" data-toggle="collapse" aria-controls="navbarHeader"
                      aria-expanded="true" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
              </div>

          </div>

          <% if user_signed_in? %>
              <li class="nav-item navbar-nav" style="color:white; font-size:18px;">
                  <a class="nav-link" href="/users/edit">My Account</a>
              </li>
              <li class="nav-item navbar-nav" style="color:white; font-size:18px;">
                <a class="nav-link" rel="nofollow" data-method="delete" href="/users/sign_out">Sign Out</a>
              </li>
          <% end %>

        </div>
      </nav>
    </header>

    <%= yield %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
  </body>
</html>

